*{
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font:inherit;
}

@font-face{
	src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
	font-family: "Montserrat";
	font-weight: normal;
}

body{
	font-family: Montserrat, sans-serif;
	font-size: 1vw;
	font-weight: 300;
	line-height: 140%;
	letter-spacing: .08em;
}

a{
	text-decoration: none;	
}

li{
	list-style-type: none;
}

button{
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	outline-style: none;
}

fieldset{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 0;
	-webkit-margin-start: 0;
	        margin-inline-start: 0;
    -webkit-margin-end: 0;
            margin-inline-end: 0;
    -webkit-padding-before: 0;
            padding-block-start: 0;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-padding-end: 0;
            padding-inline-end: 0;
    -webkit-padding-after: 0;
            padding-block-end: 0;
    padding: 0;
}

 textarea, input{
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border: 1px solid lightgrey;
}
input[type="checkbox"]{
	-webkit-appearance: auto;
	-moz-appearance: auto;
}

.wrapper {
	width: 100%;
}

.overlay{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vw;
	z-index: 2;
	background-color: black;
	opacity: 50%;
	 -webkit-filter: opacity(50%);
}
.menu-page{
	display: none;
}

/*sidebar*/

.sidebar {
	display: none;
	z-index: 3;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	max-height: none!important;
	max-width: 32vw;
	background-color: white;

}

.sidebar__header {
	padding: 3vw 2.5vw 3vw 7.5vw;
}

.sidebar__menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sidebar__menu-links{
	width: 20vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.sidebar__menu-links li a{
	font-size: 1vw;
	color: grey;
	text-transform: capitalize;
}

.sidebar__cart{
}

.sidebar__main {
	in-height: 28vw;
	overflow-y: auto;
	padding: 0 3.2vw 10vw;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
}

.sidebar__main::-webkit-scrollbar { width: 0; }


.sidebar__product-in-cart {
	display: -ms-grid;
	display: grid;
    -ms-grid-columns: 8.4vw 1vw 12.5vw 1vw 3vw;
    grid-template-columns: 8.4vw 12.5vw 3vw;
    -ms-grid-rows: 4vw .5vw 3.8vw;
    grid-template-rows: 4vw 3.8vw;
    grid-column-gap: 1vw;
    grid-row-gap: .5vw;
    position: relative;

    margin-bottom: 1.6vw;
}


.sidebar__product-in-cart > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}


.sidebar__product-in-cart > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:3;
}


.sidebar__product-in-cart > *:nth-child(3) {
	-ms-grid-row:1;
	-ms-grid-column:5;
}


.sidebar__product-in-cart > *:nth-child(4) {
	-ms-grid-row:3;
	-ms-grid-column:1;
}


.sidebar__product-in-cart > *:nth-child(5) {
	-ms-grid-row:3;
	-ms-grid-column:3;
}


.sidebar__product-in-cart > *:nth-child(6) {
	-ms-grid-row:3;
	-ms-grid-column:5;
}

.sidebar__product-remove {
	height: 1vw;
	width: 1vw;
	background-image: url(../img/remove.png);
	background-position: center;
	background-size: cover;
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    background-color: transparent;
	border: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.sidebar__product-img {
	background-color: #660108;
	height: 8.4vw ;
    width: 8.4vw;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
}

.sidebar__product-properties {
	height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
}

.sidebar__product-heading {
	font-weight: 700;
}

.sidebar__product-heading__h3 {
	color: lightgrey;
}

.sidebar__product-cost {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
}

.sidebar__product-quantity-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: .5vw;
}

.sidebar__quantity-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.sidebar__quantity-arrow-minus,
.sidebar__quantity-arrow-plus {
	background-color: transparent;
	border: 0;
	font-size: 1.75vw;
	padding: 0 .5vw;
}

.sidebar__quantity-num::-webkit-inner-spin-button,
.sidebar__quantity-num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.sidebar__quantity-num {
	-moz-appearance: textfield;
	width: 2.1vw;
	height: 2vw;
	padding: 0 .3vw;
}

.sidebar__product-multiply {
	font-size: 1.5vw;
	margin: 0 1vw;
}

.sidebar__product-price,
.sidebar__product-final-cost {
	font-size: 1.5vw;
}

.sidebar__footer {
	min-height: 9.32vw;
	border-top: 1px solid lightgrey;
	padding: 1.7vw 3.3vw 2vw;
}

.sidebar__overall {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.sidebar__overall h4{
	font-size: 1.35vw;
	font-weight: 700;
	margin-bottom: 2vw;
}
.sidebar__overall-heading {
	margin-right: 1vw;
}

.sidebar__overall-count {
}

.sidebar__go-to-cart {
	width: 12.5vw;
	height: 3.48vw;
	padding: 1vw 2vw;
	border: 1px solid lightgrey;
	color: black;
}

/* header*/

.header {
	padding: 1.77vw 3.125vw 1.97vw 2.18vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: 1px solid #DDDDDD;
}

.logo {
	height: 3.9vw;
	width: 3.9vw;
	background-image: url(../img/logo.png);
	background-position: center;
	background-size: cover;
	outline: 0;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header__menu-links {
	width: 20vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.header__menu-links li a{
	color: #6A6A6A;
	text-transform: capitalize;
}

.cart {
	cursor: pointer;
	height: 2vw;
	width: 2vw;
	border-radius: 50%;
	background-color: black;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.cart__counter {
	color: white;
	font-size: 1vw;
}

/*homepage*/

.video-section {
	width: 100%;
	height: 46.875vw;

    background-color: #D39122;
	background-size: cover;
	background-position: center;

	margin-bottom: 2.3vw;
}

.recommend-section {
	max-width: 100vw;
	position: relative;
	
}
.carousel-container{
	overflow: hidden;
}
.carousel-slides {
	width: auto;
	list-style-type: none;
	margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.carousel-cell {
	width: 39vw;
	height: 45vw;
	margin-right: 1.9vw;
	position: relative;
	display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;

    -webkit-transition: all ease 1s;

    -o-transition: all ease 1s;

    transition: all ease 1s;        
    }

.prev-button, .next-button{
	height: 45vw;
	width: 19.6vw;
	position: absolute;
	top: 0;
	background-color: transparent;
	cursor: pointer;
}
.prev-button{
	left: 0;
}

.next-button{
	right: 0;
}

.carousel__cell__link {
	height: 3.7vw;
	width: 15.2vw;
	background-color: white;
	padding: .5vw 1vw .5vw .5vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: absolute;
	bottom: 4vw;
	left: 12vw;
}

.carousel__cell__img__small {
	width: 3vw;
	height: 3vw;
	background-color: #0b1d77;
}

.heading__h3 {
	color: black;
	font-size: 1vw;
	font-weight: 600;
}

.carousel__cell__arrow {
	height: 1.5vw;
	width: 1.17vw;
	background-image: url(../img/arrow.png);
	background-size: cover;
	background-position: center;
}

.homepage-catalog{
	padding: 7.4vw;
}

.catalog {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3.9vw 1fr 3.9vw 1fr;
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-columns: 1fr 3.9vw 1fr 3.9vw 1fr;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 3.9vw;
	grid-row-gap: 4vw;
}

.catalog__product-card {
	width: 25.36vw;
	height: 26vw;
	position: relative;
	background-size: cover;
	background-position: center;
}

.P1{
	background-color: #4f7693;
}
.P2{
	background-color: #773956;
}
.P3{
	background-color: #2a4470;
}

.catalog__heading {
	position: absolute;
	top: .83vw;
	left: 1vw;
}

.about {
	padding: 8vw;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 37.2vw 5.1vw 42.2vw;
	grid-template-columns: 37.2vw 42.2vw;
	grid-column-gap: 5.1vw;
	-ms-grid-rows: 22.6vw 5.1vw 9.45vw;
	grid-template-rows: 22.6vw 9.45vw;
	grid-row-gap: 5.1vw;


}

.about > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;


}

.about > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:3;


}

.about > *:nth-child(3) {
	-ms-grid-row:3;
	-ms-grid-column:1;


}

.about > *:nth-child(4) {
	-ms-grid-row:3;
	-ms-grid-column:3;


}

.about__information-section {
	width: 37vw;
	height: 22.6vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
}

.catalog-button {
	width: 14.3vw;
	height: 3vw;
	background-color: black;
	color: white;
	font-size: 0.9vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.subscription-form{
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 1;
	grid-row-end: 3;
}

.subscription-form__input-wrapper {
	height: 4vw;
	margin-bottom: 0.93vw;
}
.input-wrapper{
	position: relative;
}

.input, .textarea{
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid lightgrey;
	position: relative;
	padding: 0 1.7vw;
	background-color: transparent;
	outline-color: grey;
}
.label{
	height: 0.83vw;
	font-size: .83vw;
	color: #7D7D7D;
	background-color: white;

	position: absolute;
	z-index: 1;
	bottom: 0;
	left: 1.7vw;
	padding: 0 0.5vw;
}
.subscription-form__email-input {
	height: 4vw;
	width: 30vw;
	font-size: .83vw;
}

.submit-section__submit-input{
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 2.916vw;
	width: 9.11vw;
	font-size: .73vw;
	background-color: #DDDDDD;
	color: #7D7D7D;
	border-radius: 0;
	border: none;
	cursor: pointer;
}

.submit-section {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 1.88vw;
}

.submit-section__submit-input {
	margin-right: 1.71vw;	
}

.checkbox-section {
	height: 3.75vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.checkbox-section__checkbox {
	display: inline-block;
	width: 1.3vw;
	height: 1.3vw;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	border-radius: 6px;
	margin-right: 1vw;
}

.checkbox-section__checkbox-p {
	font-size: .8vw;
	width: 16vw;
	font-weight: 200;
}

.about_img {
	height: 39.5vw;
	width: 39.5vw;

	background-color: #d39122;
	background-position: center;
	background-size: cover;

	-ms-grid-column: 2;

	    grid-column-start: 2;
	-ms-grid-column-span: 1;
	grid-column-end: 3;
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 2;
	grid-row-end: 3;
}

.about__text{
	line-height: 170%;
	
}
/* catalog */

.catalog-main{
	padding: 8vw 7.3vw;
}
.category{
	display: none;
}

.category__carousel{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.category__carousel-cell a{
	height: 19vw;
	width: 25.1vw;
	color: white;

	background-color: #6f93b7;
	background-position: center;
	background-size: cover;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	position: relative;
}

.heading__h2{
	font-size: 2vw;
	font-weight: 500;
}
.category-section__link {
	height: 3.82vw;
	width: 11.45vw;
	border: 1px solid white;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 1.1vw;
	color: white;
}

.category-section__link:hover{
	background-color: black;
	color: white;
	border-color: black;
}

.category-section__in-development{
	font-size: .83vw;
	font-weight: 400;
	position: absolute;
	bottom: .65vw;
	right: .65vw;
}

.filter-secction {
	margin-bottom: 3.65vw;
}

.filter-section__options {
   font-size: 1.1vw;
   color: #6A6A6A;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.filter-section__options li{
	margin-right: 3vw;
	cursor: pointer;
}

/*blog*/

.blog-main {
	padding: 3.22vw 7.3vw 8.2vw;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 9.5vw 1fr;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-rows: 12vw 5vw 12vw 5vw 12vw 5vw 12vw 5vw 12vw 5vw 12vw 5vw 12vw 5vw 12vw 5vw 12vw;
	grid-template-rows: repeat(9, 12vw);
	grid-row-gap: 5vw;
	grid-column-gap: 9.5vw;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
}

.blog-main > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(3) {
	-ms-grid-row:3;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(4) {
	-ms-grid-row:3;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(5) {
	-ms-grid-row:5;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(6) {
	-ms-grid-row:5;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(7) {
	-ms-grid-row:7;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(8) {
	-ms-grid-row:7;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(9) {
	-ms-grid-row:9;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(10) {
	-ms-grid-row:9;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(11) {
	-ms-grid-row:11;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(12) {
	-ms-grid-row:11;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(13) {
	-ms-grid-row:13;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(14) {
	-ms-grid-row:13;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(15) {
	-ms-grid-row:15;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(16) {
	-ms-grid-row:15;
	-ms-grid-column:3;
}

.blog-main > *:nth-child(17) {
	-ms-grid-row:17;
	-ms-grid-column:1;
}

.blog-main > *:nth-child(18) {
	-ms-grid-row:17;
	-ms-grid-column:3;
}
.project-one{
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 5;
	grid-row-end: 6;
	-ms-grid-column: 2;
	    grid-column-start: 2;
}

.project-two{
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 5;
	grid-row-end: 7;
	-ms-grid-column: 1;
	    grid-column-start: 1;
}

.blog-description {
}

.blog-description__heading{
	margin-bottom: 2vw;
}
.heading__h1 {
	font-size: 2.5vw;
	font-weight: 500;
}

.blog-description__par {
}

.project {
	min-height: 65.1vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.project-album {
	height: 46.2vw;
	width: 37vw;
	overflow: scroll;
	overflow-x: hidden;
}

.project-album::-webkit-scrollbar{
	width: 3px;
}

.project-album::-webkit-scrollbar-thumb{
	background-color: #525252;
}

.project-album::-webkit-scrollbar-track{
	background-color: #DDDDDD;
}

.project-album__img{
	height: 100%;
	width: 100%;

	background-size: cover;
	background-position: center;
}

.IMG1 {
	background-color: #d6901a;
}

.IMG2 {
	background-color: #660108;

}

.IMG3 {
	background-color: #2a4470;
	
}

.IMG4 {
	background-color: #024d76;
	
}

.IMG5 {
	background-color: #7f5f84;
	
}

.project__heading{
	margin: 2vw 0;

}

.project__text {
	height: 15vw;
	padding-right: 1vw;
	margin-bottom: 1vw;
	overflow: auto;
}

.project__text::-webkit-scrollbar{
	width: 3px;
}

.project__text::-webkit-scrollbar-thumb{
	background-color: #525252;
}

.project__text::-webkit-scrollbar-track{
	background-color: #DDDDDD;
}
.project__par {
	margin-top: 2vw;
}

/*contacts*/

.contacts-main {
	padding: 3.22vw 11.4vw 6.77vw 8.2vw;
}

.contact-details-section {
	margin-bottom: 6.8vw;
}

.contact-details__heading{
	margin-bottom: 3vw;
}

.contact-details {
	margin: 2.8vw 0 5.67vw;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 22.5vw 9.7vw 22.5vw;
	grid-template-columns: repeat(2, 22.5vw);
	grid-column-gap: 9.7vw;
	-ms-grid-rows: 1.77vw 2vw 1.77vw 2vw 1.77vw;
	grid-template-rows: repeat(3, 1.77vw);
	grid-row-gap: 2vw;
}

.contact-details > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;
}

.contact-details > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:3;
}

.contact-details > *:nth-child(3) {
	-ms-grid-row:3;
	-ms-grid-column:1;
}

.contact-details > *:nth-child(4) {
	-ms-grid-row:3;
	-ms-grid-column:3;
}

.contact-details > *:nth-child(5) {
	-ms-grid-row:5;
	-ms-grid-column:1;
}

.contact-details > *:nth-child(6) {
	-ms-grid-row:5;
	-ms-grid-column:3;
}

.contact-details a{
	color: black;
}

.contact-details__tel {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-row: 1;
	    grid-row-start: 1;
}

.contact-details__email {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-row: 2;
	    grid-row-start: 2;
}

.contact-details__adress {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-row: 3;
	    grid-row-start: 3;
}

.contact-details__social-networks-span {
	-ms-grid-column: 2;
	    grid-column-start: 2;
	-ms-grid-row: 1;
	    grid-row-start: 1;
}

.contact-details__social-networks {
	-ms-grid-column: 2;
	    grid-column-start: 2;
	-ms-grid-row: 2;
	    grid-row-start: 2;
}

.contact-details__social-networks-TG,.contact-details__social-networks-IG,.contact-details__social-networks-FB {
	height: 1.2vw;
	margin-right: 2vw;
}

.feedback-form {
	width: 64vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.feedback-form__personal-data {
	height: 14vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.feedback-form__input-wrapper{
	height: 3.5vw;
	font-size: .9vw;
}

.feedbak-form__label {
	font-size: .9vw;
}

.feedback-form__input {
	width: 30vw;
	height: 3.5vw;
}

.feedback-form__input-wrapper__textarea {
	width: 30vw;
	height: 14vw;
}
.textarea{
	border: 1px solid lightgrey;
	padding: 1vw;
}
.feedback-form__textarea {
	width: 30vw;
	height: 14vw;
}

/*product*/

.product-main {
	padding: 4.11vw 5vw 5vw;
}

.product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 12.23vw;
}

.image-slider{
	width: 42vw;
	height: 42vw;
}

.image-slider__slide{
	width: 100%;
	height: 100%;
}
.image-slider__image{
	width: 100%;
	height: 100%;
}
.swiper-pagination span{
	width: 0.5vw;
	height: 0.5vw;
	background-color: grey;
}
.properties {
	width: 42.18vw;
	min-height: 36.45vw;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.properties__heading{
	margin-bottom: 1.5vw;
}

.properties_price{
	margin-bottom: 1.5vw;
}

.properties__text {
}

.features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.features__list {
}

.features__list li{
	color: #7D7D7D;
	line-height: 250%;
	list-style-type: square;
	list-style-position: inside;
}

.features__list li::marker{
	font-size: 0.18vw;
	vertical-align: middle
}

.features__quantity-block {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 2;
	grid-column-end: 3;
	-ms-grid-row: 1;
	    grid-row-start: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.features__quantity-num {
	-moz-appearance: textfield;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 19vw ;
	height: 3.5vw;
	padding: 0 8.5vw;
	border: 1px solid lightgrey;
}
.features__quantity-num::-webkit-inner-spin-button,
.features__quantity-num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.features__quantity-arrow-plus,
.features__quantity-arrow-minus {
	background-color: transparent;
	border: 1px solid lightgrey;
	width: 3.5vw;
	height: 3.5vw;
	font-size: 2vw;
	padding: 0 1vw;
}
.features__quantity-arrow-minus{
	border-right: 0;	
}

.features__quantity-arrow-plus{
	border-left: 0;	
}

.features__select {
	-ms-grid-row-align: center;
	    align-self: center;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 10.2vw 1.25vw 14.375vw;
	grid-template-columns: 10.2vw 14.375vw;
	-ms-grid-rows: 3.5vw;
	grid-template-rows: 3.5vw;
	grid-column-gap: 1.25vw;
	grid-row-gap: 1.25vw;

}

select:focus{
	outline: 0;
}

.features__select > *:nth-child(1) {
	-ms-grid-row:1;
	-ms-grid-column:1;

}

.features__select > *:nth-child(2) {
	-ms-grid-row:1;
	-ms-grid-column:3;

}

.select-input {
	background-color: transparent;
	border-radius: 0;
	border: 1px solid lightgrey;
	height: 3.5vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.features__size{
	padding: 0 2.5vw;
	width: 10.2vw;
}

.features__color{
	padding: 0 3.9vw;
	width: 14.375vw;
}

.features__quantity{
	width: 25.825;
	
}

.product__add-to-cart {
	height: 3.5vw;
	width: 14.375vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: transparent;
	border-radius: 0;
	border:1px solid lightgrey;
	font-size: .83vw;

}

.rec-section {
}

.rec-section__heading{
	margin-bottom: 3.33vw;
}

.rec-cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.rec-cards__product-card {
	width: 18.9vw;
	height: 19.4vw;
	position: relative;
}

.rec-cards__heading{
	position: absolute;
	top: .62vw;
	left: .73vw;
}

/*cart*/
.cart-main {
	padding: 4vw 8vw 8vw 4.68vw;
}

.cart-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: 5.6vw;
}

.product-in-cart {
	min-height: 14.63vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1.8vw;
}

.product-in-cart__remove {
	border: 0;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	background-color: transparent;
	height: 1.6vw;
	width: 1.6vw;
	background-image: url(../img/remove.png);
	background-position: center;
	background-size: cover;
	margin-right: 1.77vw;
}

.product-in-cart__img {
	width: 14.6vw;
	height: 14.6vw;
	background-color: #537c71;
	background-position: center;
	background-size: cover;
	margin-right: 1.77vw;
}

.product-in-cart__heading__h3{
	color: lightgrey;
	font-weight: 500;
	font-size: 1.2vw;
	margin-top: 1vw;
}

.product-in-cart__cost {
	margin-left: 30vw;
}

.quantity-block{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.quantity-num {
	-moz-appearance: textfield;
	width: 2.6vw;
	height: 2.5vw;
	font-size: 1.3vw;
	padding: 0 0.38vw;
}

.quantity-num::-webkit-inner-spin-button,
.quantity-num::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.quantity-arrow-minus, .quantity-arrow-plus{
	background-color: transparent;
	border: 0;
	outline: 0;
    font-size: 2.5vw;
    padding: .26vw 1vw;
    
}
.product-in-cart__multiply {
	font-size: 2vw;
	margin:0 1.5vw;
}

.product-in-cart__price, .product-in-cart__final-cost {
	font-size: 1.82vw;
}

.product-in-cart__final-cost {
	margin: 1vw 0 0 2.3vw;
}

.product-in-cart__quantity-price{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.overall {
	margin-bottom: 4.42vw;

}

.overall__cost {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 2vw;
}

.overall__heading{
	margin-right: 1vw;
}


.delivery {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.delivery__heading{
	margin-right: 1vw;
}

.delivery__change {
}

.payment {
}

.payment-form {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: 11.2vw 2.5vw 4vw 2.5vw 4vw 2.5vw 8vw 2.5vw 2.86vw 2.5vw 3.6vw;
	grid-template-rows: 11.2vw 4vw 4vw 8vw 2.86vw 3.6vw;
	grid-row-gap: 2.5vw;
	grid-column-gap: 6.5vw;

}

.discount {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 1;
	    grid-row-start: 1;
	-ms-grid-row-span: 1;
	grid-row-end: 2;
}

.discount__input-wrapper, .payment-form__input-wrapper{
	height: 4vw;
	width: 36vw;
}

.discount__submit-input{
	width: 12.6vw;
	height: 3.7vw;
	background-color: #DDDDDD;
	color: #7D7D7D;
	border-radius: 0;
	border: none;
	cursor: pointer;

	margin-top: 2vw;

}
.discount__input, .payment-form__input {
	height: 4vw;
	width: 36vw;
}

.payment-form__heading {
	font-size: 3.125vw;
	font-weight: 500;
	-ms-grid-column: 2;
	    grid-column-start: 2;
	-ms-grid-column-span: 1;
	grid-column-end: 3;
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 1;
	grid-row-end: 3;
}

.payment-form__personal-info {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 2;
	    grid-row-start: 2;
	-ms-grid-row-span: 3;
	grid-row-end: 5;
}

.payment-form__input-wrapper{
	margin-bottom: 1.5vw;
}

.payment-form__label{
	font-size: 1vw;
}

.payment-form__payment-method {
	-ms-grid-column: 2;
	    grid-column-start: 2;
	-ms-grid-column-span: 1;
	grid-column-end: 3;
	-ms-grid-row: 3;
	    grid-row-start: 3;
	-ms-grid-row-span: 1;
	grid-row-end: 4;
}

.payment-form__overall {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 5;
	    grid-row-start: 5;
	-ms-grid-row-span: 1;
	grid-row-end: 6;
}
.submit-section__submit-input__cart{
	height: 3.5vw;
	width: 9.8vw;
	font-size: 1vw;
}
.payment-form__submit-section {
	-ms-grid-column: 1;
	    grid-column-start: 1;
	-ms-grid-column-span: 1;
	grid-column-end: 2;
	-ms-grid-row: 6;
	    grid-row-start: 6;
	-ms-grid-row-span: 1;
	grid-row-end: 7;
}

/*footer*/

.footer {
	height: 10.5vw;
	border-top: 1px solid #DDDDDD;
	padding: 2.2vw 8vw;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

.footer__menu {
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.footer__menu-links li {
	margin-bottom: 1.04vw;
}

.footer__menu-links li a {
	text-transform: capitalize;
	color: black;
	font-weight: 700;
}
.footer__right-side {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer__copyright {
	margin-right: 27.8vw;
	font-size: 1.04vw;
	font-weight: 200;
}

.footer__social-networks a{
	margin-right: 1vw;
}

.footer__social-networks-TG {
	height: 1.04vw;
}

.footer__social-networks-IG, .footer__social-networks-FB  {
	height: 1.3vw;
}

@media screen and (max-width: 414px){

	body{
		font-size: 2.8vw;
    }

    input[type="number"]{
    	background-color: transparent;
    	border-radius: 0;
    }
	/*menu*/

	.menu-page {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		background-color: white;
		z-index: 2;
		height: 100vh;
		width: 100vw;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;	
    } 

    .menu-page__menu {
    	padding:40vw 28.8vw 11vw;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
    }

    .menu-page__menu-links {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	margin-bottom: 38vw;
    }

    .menu-page__menu-links li a{
    	font-size: 6.8vw;
    	font-weight: 700;
    	color: black;
    	text-transform: capitalize;
    }
    .menu-page__menu-links li{
    	margin-bottom: 8vw;
    }
    .menu-page__social-networks a{
    	height: 4.6vw;
    }

    .menu-page__social-networks{
    	width: calc(100vw - 2 * 29vw);
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-pack: justify;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
    }

    .menu-page__copyright {
    	font-size: 3vw;
    }

	/*sidebar*/
	.overlay{
		height: 100%;
		opacity: 50%;
	}

	.sidebar {
	   max-width: 78vw;
	   background-color: white;
	}

    .sidebar__header {
	   padding: 4vw 3.5vw 7.5vw 0;
	   display: -webkit-box;
	   display: -ms-flexbox;
	   display: flex;
	   -webkit-box-pack: end;
	       -ms-flex-pack: end;
	           justify-content: flex-end;
    }

    .sidebar__menu-links li a{
    	display: none;
    }

    .sidebar__main {
	   min-height: 100vw;
	   padding: 0 3.1vw 3.1vw;
    }

    .sidebar__product-in-cart {
       -ms-grid-columns: 24vw 3vw 37.26vw 3vw 3vw;
       grid-template-columns: 24vw 37.26vw 3vw;
       -ms-grid-rows: 11vw 2.5vw 10vw;
       grid-template-rows: 11vw 10vw;
       grid-column-gap: 3vw;
       grid-row-gap: 2.5vw;

       margin-bottom: 3vw;
    }

    .sidebar__product-in-cart > *:nth-child(1) {
		-ms-grid-row:1;
		-ms-grid-column:1;
    }

    .sidebar__product-in-cart > *:nth-child(2) {
		-ms-grid-row:1;
		-ms-grid-column:3;
    }

    .sidebar__product-in-cart > *:nth-child(3) {
		-ms-grid-row:1;
		-ms-grid-column:5;
    }

    .sidebar__product-in-cart > *:nth-child(4) {
		-ms-grid-row:3;
		-ms-grid-column:1;
    }

    .sidebar__product-in-cart > *:nth-child(5) {
		-ms-grid-row:3;
		-ms-grid-column:3;
    }

    .sidebar__product-in-cart > *:nth-child(6) {
		-ms-grid-row:3;
		-ms-grid-column:5;
    }

   .sidebar__product-remove {
	  height: 2.7vw;
	  width: 2.7vw;
    }

    .sidebar__product-img {
	  height: 24vw ;
	  width: 24vw;
    }

    .sidebar__product-properties {
    }

    .sidebar__product-heading,
    .sidebar__product-heading__h3 {
    	font-size: 3.1vw;
	
    }

   .sidebar__product-quantity-price {
	   margin-bottom: 1vw;
    }

    .sidebar__quantity-arrow-minus,
    .sidebar__quantity-arrow-plus {

	   font-size: 5vw;
	   padding: 0 2vw;
    }

    .sidebar__quantity-num {
	   width: 6vw;
	   height: 5.12vw;
	   padding: 0 .8vw;
    }

    .sidebar__product-multiply {
	   font-size: 5vw;
	   margin: 0 1vw;
	   -ms-flex-item-align: center;
	       -ms-grid-row-align: center;
	       align-self: center;
    }

    .sidebar__product-price,
    .sidebar__product-final-cost {
	   font-size: 3.1vw;
	   -ms-flex-item-align: center;
	       -ms-grid-row-align: center;
	       align-self: center;
    }

    .sidebar__footer {
    	min-height: 27vw;
	    padding: 2.7vw;
    }

    .sidebar__overall h4{
	   font-size: 4vw
    }

    .sidebar__overall{
    	margin-bottom: 4vw;
    }

    .sidebar__overall-heading {
	    margin-right: 1vw;
    }

     .sidebar__go-to-cart {
	   padding: 2vw 4vw;
    }

	/*header*/

	.header{
		height: 14.9vw;
		padding: 3vw 3.5vw 3vw 3vw;

	}
	.logo{
		height: 8.8vw;
		width: 8.8vw;
	}
	.header__menu-links li a{
		display: none;
	}
	
	.cart {
		width: 6.1vw;
		height: 6.1vw;
		margin-right: 2.7vw;
	}

	.cart__counter{
		font-size: 2.7vw;
	}
	.menu-button{
		width: 6.1vw;
		height: 5.1vw;
		background-image: url(../img/menu.png);
		background-position: center;
		background-size: cover;
	}

    /*homepage*/

.carousel__cell{
	height: 91.9vw;
    width: 73.6vw;
    margin: auto;
    margin-right: 3.4vw;
}

.carousel__cell__link {
	padding: 1.22vw 4vw 1.22vw 1.22vw;
    width: 52.1vw;
    height: 12.7vw;
}

.carousel__cell__img__small {
	width: 10.24vw;
    height: 10.24vw;
}

.carousel__cell__arrow {
	height: 5.3vw;
    width: 4vw;
}

.prev-button {
}

.next-button {
}
    .heading__h3{
    	font-size: 3.1vw;
    }
    .product-card__arrow{
    	height: 5.3vw;
    	width: 4vw;
    }
    .catalog{
    	padding: 3.4vw 3.1vw 10.24vw;
    	-ms-grid-columns: (1fr)[2];
    	grid-template-columns: repeat(2, 1fr);
    }
    .catalog__product-card{
    	width: 45vw;
    	height: 45vw;
    }

    .about {
    	padding: 7vw 2.8vw;
    	-ms-grid-rows: 36.6vw 11.2vw 30.12vw;
    	grid-template-rows: 36.6vw 30.12vw;
    	grid-row-gap: 11.2vw;
    	-ms-grid-columns: 46.9vw 4.3vw 42.5vw;
    	grid-template-columns: 46.9vw 42.5vw;
    	grid-column-gap: 4.3vw;

    }

    .about > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;

    }

    .about > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;

    }

    .about > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;

    }

    .about > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;

    }
     .about_img {
     	width: 42.5vw;
     	height: 36.6vw;
     	-ms-grid-row: 1;
     	    grid-row-start: 1;
     	-ms-grid-row-span: 1;
     	grid-row-end: 2;
     	-ms-grid-column: 2;
     	    grid-column-start: 2;
     	-ms-grid-column-span: 1;
     	grid-column-end: 3;

    }
     .about__information-section {
     	height: 36.6vw;
     	width: 100%;
     	-ms-grid-row: 1;
     	    grid-row-start: 1;
     	-ms-grid-row-span: 1;
     	grid-row-end: 2;
     	-ms-grid-column: 1;
     	    grid-column-start: 1;
     	-ms-grid-column-span: 1;
     	grid-column-end: 2;

    }
     .about__text {
     	max-height: 22.3vw;
     	overflow: auto;
     	overflow: -moz-scrollbars-none;
	    -ms-overflow-style: none;
    }

    .about__text::-webkit-scrollbar { width: 0; }

     .catalog-button {
     	width: 36vw;
     	height: 7.7vw;
     	font-size: 2.8vw;

    }
     .subscription-form {
     	-ms-grid-row: 2;
     	    grid-row-start: 2;
     	-ms-grid-row-span: 1;
     	grid-row-end: 3;
     	-ms-grid-column: 1;
     	    grid-column-start: 1;
     	-ms-grid-column-span: 2;
     	grid-column-end: 3;

    }
     .subscription-form__input-wrapper{
     	width: 93.9vw;
     	height: 9vw;
     	margin-bottom: 6vw;

    }

    .label{
    	padding: 1vw;
    	height: 3vw;
    	left: 3.7vw;
    	font-size: 2.48vw;
    }
     .subscription-form__email-input{
     	width: 93.9vw;
     	height: 9vw;
     	font-size: 2.3vw

    }

     .submit-section__submit-input {
     	width: 29.8vw;
     	height: 8vw;
     	font-size: 3.1vw;

    }

    .input{
    	padding: 2.3vw 3.7vw;
    }

     .checkbox-section {
     	display: none;
    }

    /*catalog*/
        
    .catalog-main {
    	padding: 0;
    }

    .category {
    	margin: 3.88vw 0 9.26vw;
    	max-width: 100vw;
	    position: relative;
    }

    .category__carousel-hider {
    	overflow: hidden;
    }

    .category__carousel {
    	width: auto;
	    list-style-type: none;
	    margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
    }

    .category__carousel-cell {
    	position: relative;
	    display: block;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
    }

    .category__carousel-cell a{
    	height: 80vw;
    	width: 65vw;
    	margin-right: 4vw;
    }

    .category-section__heading{
    	width: 36vw;
    	height: 8.7vw;
    	border: 1px solid white;
    	font-size: 4vw;
    	font-weight: 200;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    }

    .category-section__link {
    	display: none;	
    }

    .category-section__in-development {
    	font-size: 3vw;
    	bottom: 3vw;
    	right: 3vw;
    }

    .filter-secction {
    	margin: 9.3vw 4vw 0;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
    	    -ms-flex-flow: row wrap;
    	        flex-flow: row wrap;
    	-webkit-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	-webkit-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
    }

    .filter-section__options {
    	-ms-flex-wrap: wrap;
    	    flex-wrap: wrap;
    }

    .filter-section__options li{
    	font-size: 3.7vw;
    	margin: 0 7.5vw 5vw 0;
    }

    /*blog*/

    .blog-main {
    	padding: 3vw 3vw 7.7vw;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }

    .blog-description {
    	margin-bottom: 7.7vw;
    }

    .blog-description__heading {
    	display: none;
    }

    .project {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: row;
    	        flex-direction: row;
    	margin-bottom: 7.7vw;

    }

    .project__info{
    	width: 41.6vw;
    	height: 58.7vw;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-box-pack: justify;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
    }

    .project-album {
    	width: 47vw;
    	height: 58.7vw;
    }

    .project-album__img {
    	width: 47vw;
    	height: 58.7vw;
    }

    .project__heading{
    	font-size: 4.6vw;
    	margin: 0;
    }

    .project__text {
    	height: 50vw;
    }

    .project__text ::-webkit-scrollbar { width: 0; }

    .project__button {
    	display: none;
    	width: 41.6vw;
    	height: 8.5vw;
    	font-size: 3.1vw;
    	overflow-y: scroll;
    }

    /*contacts*/

    .contacts-main {
    	padding: 7.1vw 2.8vw 20vw;
    }
    .contact-details-section {

    }
    .contact-details__heading {
    	font-size: 6.2vw;
    }
    .contact-details {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }

    .contact-details__tel, .contact-details__email, .contact-details__social-networks-span {
    	margin-bottom: 3.2vw;
    }

    .contact-details__adress {
    	margin-bottom: 6vw;
    }

    .contact-details__social-networks-TG,
    .contact-details__social-networks-IG, 
    .contact-details__social-networks-FB {
    	height: 3.4vw;
    	margin-right: 3vw;
    }

    .feedback-form {
    	height: 64.7vw;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }

    .feedback-form__personal-data {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
    }
    .feedback-form__input-wrapper {
    	height: 10.25vw;
    	margin-bottom: 3.72vw;
    }

    .feedback-form__input {
    	width: 93.94vw;
    	height: 10.25vw;
    	font-size: 2.48vw;
    }
    .feedback-form__textarea {
    	min-height: 22.5vw;
    	width: 93.94vw;
    }
    .feedback-form__input-wrapper__textarea {
    	min-height: 22.5vw;
    	margin-bottom: 7.14vw;
    }

    .feedbak-form__label{
    	bottom: -0.5vw;
    }

    .submit-section {
    	width: 93.94vw;
    	margin-top: 7.68vw;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .submit-section__submit-input {
    	height: 7.45vw;
    	width: 27.6vw;
    	font-size: 3.1vw;
    }
    
    /*product*/

    .product-main {
    	padding: 3.1vw 3.1vw 12.4vw;
    }
    .product {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }

    .image-slider{
    	width: 94vw;
    	height: 94vw;
    	margin-bottom:10vw;
    }
    .swiper-pagination span{
    	width: 1.2vw;
    	height: 1.2vw;
    }


    .properties {
    	width: 100%;
    }
    .properties__description {}
    .properties__heading {
    	font-size: 4.9vw;
    	font-weight: 600;
    }

    .properties__headings{
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: row;
    	        flex-direction: row;
    	-webkit-box-pack: justify;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
    	margin-bottom: 3vw;
    }
    .properties_price {
    	font-size: 4.9vw;
    	font-weight: 700;
    }

    .properties__text {
    	margin-bottom: 5.9vw;
    }
    .features {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }
    .features__list {
    	margin-bottom: 7vw;
    	display: -ms-grid;
    	display: grid;
    	-ms-grid-columns: 1fr 5.9vw 1fr;
    	grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5.9vw;
        -ms-grid-rows: 1fr .62vw 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: .62vw;
    }
    .features__list > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
    }
    .features__list > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
    }
    .features__list > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
    }
    .features__list > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
    }

    .features__select {
    	margin-bottom: 12vw;
    	align-self: flex-start;
    	-ms-grid-rows: 8.5vw 3.1vw 8.5vw;
    	grid-template-rows: 8.5vw 8.5vw;
    	-ms-grid-columns: 25.15vw 3.1vw 35vw;
    	grid-template-columns: 25.15vw 35vw;
    	grid-column-gap: 3.1vw;
    	grid-row-gap: 3.1vw;
    }

    .features__select > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
    }

    .features__select > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
    }

    .features__select > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
    }

    .features__select > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
    }

    .select-input{
    	height: 8.5vw;
    }

    .features__quantity-arrow-minus,
    .features__quantity-arrow-plus {
    	height: 8.5vw;
    	width: 8.5vw;
    }

    .features__quantity-num {
    	height: 8.5vw;
    	width: 47vw;
    	padding:0 21vw;
    }


    .features__size {
    	width: 25.15vw;
    }

    .features__color {
    	width: 35vw;
    }

    .product__add-to-cart {
    	height: 8.5vw;
    	width: 43.5vw;
    	font-size: 3.1vw;
    }
    .rec-section {}

    .rec-section__heading{
    	margin-bottom: 5.12vw;
    }
    .heading__h3{
    	font-size: 3.72vw;
    }

    .heading__h1 {
    	font-size: 4.65vw;
    	font-weight: 700;
    }
    .rec-cards {
    	display: -ms-grid;
    	display: grid;
    	-ms-grid-columns: 1fr 3.7vw 1fr;
    	grid-template-columns: repeat(2, 1fr);
    	-ms-grid-rows: 1fr 3.7vw 1fr;
    	grid-template-rows: repeat(2, 1fr);
    	grid-column-gap: 3.7vw;
    	grid-row-gap: 3.7vw;
    }
    .rec-cards > *:nth-child(1) {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
    }
    .rec-cards > *:nth-child(2) {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
    }
    .rec-cards > *:nth-child(3) {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
    }
    .rec-cards > *:nth-child(4) {
		-ms-grid-row: 3;
		-ms-grid-column: 3;
    }
    .rec-cards__product-card {
    	width: 45vw;
    	height: 45vw;
    }

    /*cart*/

    .cart-main {
    	padding: 3.1vw 3.1vw 12.4vw;
    }

    .cart-section {}
    .product-in-cart {
    	display: -ms-grid;
    	display: grid;
    	-ms-grid-columns: 31.44vw 3.8vw 50vw 3.8vw 4.6vw;
    	grid-template-columns: 31.44vw 50vw 4.6vw;
    	-ms-grid-rows: 14.7vw 3.26vw 13.5vw;
    	grid-template-rows: 14.7vw 13.5vw;
    	grid-column-gap: 3.8vw;
    	grid-row-gap: 3.26vw;

    	margin-bottom: 4.8vw;
    }
    .product-in-cart > *:nth-child(1) {
		-ms-grid-row:1;
		-ms-grid-column:1;
    }
    .product-in-cart > *:nth-child(2) {
		-ms-grid-row:1;
		-ms-grid-column:3;
    }
    .product-in-cart > *:nth-child(3) {
		-ms-grid-row:1;
		-ms-grid-column:5;
    }
    .product-in-cart > *:nth-child(4) {
		-ms-grid-row:3;
		-ms-grid-column:1;
    }
    .product-in-cart > *:nth-child(5) {
		-ms-grid-row:3;
		-ms-grid-column:3;
    }
    .product-in-cart > *:nth-child(6) {
		-ms-grid-row:3;
		-ms-grid-column:5;
    }
    .product-in-cart__remove {
    	height: 3.6vw;
    	width: 3.6vw;
    	align-self: flex-start;
    	-ms-grid-column: 3;
    	    grid-column-start: 3;
    	-ms-grid-column-span: 1;
    	grid-column-end: 4;
    	-ms-grid-row: 1;
    	    grid-row-start: 1;
    	-ms-grid-row-span: 1;
    	grid-row-end: 2;
    }
    .product-in-cart__img {
    	height: 31.44vw;
    	width: 31.44vw ;
    	-ms-grid-column: 1;
    	    grid-column-start: 1;
    	-ms-grid-column-span: 1;
    	grid-column-end: 2;
    	-ms-grid-row: 1;
    	    grid-row-start: 1;
    	-ms-grid-row-span: 2;
    	grid-row-end: 3;
    }
    .product-in-cart__properties {
    	height: 100%;
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    	-webkit-box-pack: justify;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
    	-ms-grid-column: 2;
    	    grid-column-start: 2;
    	-ms-grid-column-span: 1;
    	grid-column-end: 3;
    	-ms-grid-row: 1;
    	    grid-row-start: 1;
    	-ms-grid-row-span: 1;
    	grid-row-end: 2;
    }
    .product-in-cart__heading {
    	font-size: 4vw;
    }
    .product-in-cart__heading__h3 {
    	font-size: 3.1vw;
    }
    .product-in-cart__cost {
    	margin-left: 0;
    	-ms-grid-column: 2;
    	    grid-column-start: 2;
    	-ms-grid-column-span: 1;
    	grid-column-end: 3;
    	-ms-grid-row: 2;
    	    grid-row-start: 2;
    	-ms-grid-row-span: 1;
    	grid-row-end: 3;
    }
    .product-in-cart__quantity-price {
    	margin-bottom: 2.5vw;
    }

    .quantity-arrow-minus, 
    .quantity-arrow-plus {
    	font-size: 6vw;
    	padding: 0 1vw;
    }
    .quantity-num {
    	width: 7vw;
    	height: 6.6vw;
    	font-size: 3vw;
    	padding: 1vw;
    }

    .product-in-cart__multiply {
    	font-size: 6vw;
    }
    .product-in-cart__price,
    .product-in-cart__final-cost {
    	font-size: 4vw;
    }

    .overall {}
    .overall__cost {
    	margin-bottom: 3vw;
    }

    .overall__heading,
    .overall__number,
    .delivery__heading,
    .delivery__cost{
    	font-size: 5vw;
    }
    .payment {}
    .payment-form {
    	display: -webkit-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	    -ms-flex-direction: column;
    	        flex-direction: column;
    }
    .discount {
    	margin-bottom: 3vw;
    }
    .discount__input-wrapper,
    .payment-form__input-wrapper {
    	height: 10.25vw;
    	margin-bottom: 3.72vw;
    }
    .discount__label,
    .payment-form__label {
    	bottom: -0.5vw;
    }

    .discount__input,
    .payment-form__input {
    	width: 93.94vw;
    	height: 10.25vw;
    	font-size: 2.48vw;

    	padding: 2.4vw 3.88vw;
    	border: .5px solid #DDDDDD;
    }

    .discount__submit-input {
    	width: 43.5vw;
    	height: 8.5vw;
    }
    .payment-form__heading {
    	font-size: 4vw;
    	font-weight: 600;
    	margin-bottom: 2vw;
    }
    .payment-form__personal-info {}

    .payment-form__payment-method {
        margin-bottom: 10vw;
    }

    .payment-form__overall {}
    .payment-form__overall-heading {
    	font-size: 6vw;
    	font-weight: 500;
    }
    .submit-section__submit-input__cart {}

    /*footer*/

    .footer{
    	height: 29.2vw;
    	padding: 7.76vw 3.1vw;
    	-webkit-box-pack: justify;
    	    -ms-flex-pack: justify;
    	        justify-content: space-between;
    }

    .footer__right-side{
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: reverse;
    	    -ms-flex-direction: column-reverse;
    	        flex-direction: column-reverse;
    	-webkit-box-align: end;
    	    -ms-flex-align: end;
    	        align-items: flex-end;
    }

    .footer__social-networks-IG, .footer__social-networks-FB, .footer__social-networks-TG{
    	height: 3.4vw;
    }

    .footer__social-networks-IG, .footer__social-networks-TG{
    	margin-right: 4.6vw;
    }

    .footer__social-networks{
    	margin-bottom: 6.8vw;	
    }
    .footer__copyright{
    	margin-right: 0;
    	font-size: 2.8vw;
    	
    }
}